{{ $Table := .Table -}}
{{ $Columns := .Columns -}}
import { request } from '../request';

/** 获取{{$Table.UpUpName }}列表 */
export const fetch{{ $Table.UpUpName }}List = async (param: {{ $Table.UpUpName }}Management.Req{{ $Table.UpUpName }}PageParam) => {
  return request.get{{NoIt "~" "<"}}{{ $Table.UpUpName }}Management.Api{{ $Table.UpUpName }}PageResult>('{{$Table.RelativePath}}/list', { params: param });
};
/** 添加或者修改{{$Table.UpUpName }} */
export const addOrUp{{$Table.UpUpName }} = (param: {{ $Table.UpUpName }}Management.AddOrUp{{ $Table.UpUpName }}Param) => {
  return request.post<boolean>('{{$Table.RelativePath}}', param);
};

// 根据{{$Table.UpUpName }}UUIDS删除用户
export const del{{$Table.UpUpName}}ByIds = (param: (string | number)[]) => {
  return request.delete<boolean>(`{{$Table.RelativePath}}/${param.toString()}`);
};

// 根据UUID获取{{$Table.UpUpName }}细节
export const get{{$Table.UpUpName}}DetailById = (param: string | number) => {
  return request.get<{{ $Table.UpUpName -}}Management.Base{{ $Table.UpUpName }}>(`{{$Table.RelativePath}}/${param}`);
};

