{{ $Table := .Table -}}
{{ $Columns := .Columns -}}


package {{$Table.TableName_}}

import (
	"github.com/gin-gonic/gin"
	"gorm.io/gorm"
	"{{$Table.DaoPath}}/model"
    "xcore/common/xmiddlewares"
	"xcore/common/xgorm"
	"xcore/core/xcore"
)

var {{$Table.UpperCamelCase}}Group = xcore.Group("{{$Table.RelativePath}}", New{{$Table.UpperCamelCase}}Handler, reg{{$Table.UpperCamelCase}}Route
  {{- if eq $Table.CheckToken "1" -}}
    ,xmiddlewares.Authorize
  {{- end -}}
  {{- if eq $Table.CheckAuth "1" -}}
    ,xmiddlewares.Verify
  {{- end -}}
  {{- if eq $Table.AddLog "1" -}}
    ,xmiddlewares.LogMiddleHandler
  {{- end -}}
)

func reg{{$Table.UpperCamelCase}}Route(rg *gin.RouterGroup, group *xcore.GroupBase) error {
	return group.Reg(func(handle *Handler) {

		rg.GET("/list", func(c *gin.Context) {
			handle.FindByPage(c, func(helper xgorm.IQueryHelper) *gorm.DB {
				return helper.SpliceQueryIfExit(c, map[string]xgorm.OperationType{
                    {{- range $Columns }}
                        {{- if eq .IsQuery "1"}}
                        "{{.LowerCamelCase}}":xgorm.QueryType
                        {{ end -}}
                    {{ end -}}
				})
			})
		})
		rg.GET("/:id", handle.FindOneById)
		rg.POST("", handle.Create)
		rg.PUT("/:id", handle.UpDateById)
		rg.DELETE("", handle.DeleteByIds)
	})
}

type Handler struct {
	xgorm.IRouterFunctions[model.{{ $Table.UpperCamelCase }}]
	service I{{ $Table.UpperCamelCase }}
}

func New{{ $Table.UpperCamelCase }}Handler(db *gorm.DB) *Handler {
	return &Handler{
		IRouterFunctions: xgorm.InjectRouter[model.{{ $Table.UpperCamelCase }}](db),
		service:          New{{ $Table.UpperCamelCase }}(db),
	}
}